#bar_chart {
	position: absolute;
	left: 420px;
	top: 50px;
	width: 600px;
	height: 400px;
}

#line_chart {
	width: 550px;
	height: 400px;
	
}
#geo_chart {
	position: absolute;
	left: 550px;
	top: 380px;
	width: 600px;
	height: 400px;
}